@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  width: 45vw;
  height: 45vh;
  background-image: url('/BP_Academy.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  opacity: 0.1;
  pointer-events: none;
  z-index: -1;
}

/* @media (prefers-color-scheme: dark) {
  body::after {
    filter: invert(1);
    opacity: 0.1;
  }
} */
